@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main primary-bg primary-color">
        <div class="d-flex align-items-center justify-content-end px-4 auth primary-bg-dark text-white" style="height: 3.5rem">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
