@using RDT_WEB_LL.Models

<select id="inputState" class="form-control" @onchange=@OnOptionSelected>
    <option value="">---</option>
    @for (var i = 0; i < answers.Count(); i++)
    {
        var j = i;
        <option value=@j>@answers[j].Answer</option>
    }
</select>

@code {
    [Parameter]
    public List<PossibleAnswer> answers { get; set; }

    [Parameter]
    public UserAnswer userAnswer { get; set; }

    [Parameter]
    public EventCallback<UserAnswer> userAnswerChanged { get; set; }

    private void OnOptionSelected(ChangeEventArgs args)
    {
        if (string.IsNullOrEmpty(args.Value.ToString()))
        {
            userAnswer.Answer = "";
            return;
        }

        int answerIdx = int.Parse(args.Value.ToString());
        userAnswer.Answer = answers[answerIdx].Answer;
        userAnswer.IsCorrect = answers[answerIdx].IsCorrect;

        userAnswerChanged.InvokeAsync(userAnswer);
    }
}
