@using RDT_WEB_LL.Models

<p class="card-text mb-5">@question.QuestionText</p>
<button type="button" class="btn btn-primary position-absolute" @onclick="OnShowDetailClick" style="left: 1rem; bottom: 1rem">Show details</button>

@code {
    [Parameter]
    public Question question { get; set; }

    [Parameter]
    public EventCallback<int> OnShowDetail { get; set; }

    private Task OnShowDetailClick()
    {
        int id = question.Id;
        return OnShowDetail.InvokeAsync(id);
    }
}
