@using RDT_WEB_LL.Models

<div class="card h-100 w-100">
    <div class="card-body">
        <h4 class="card-title">Questions</h4>
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public Question question { get; set; }
}
