@using RDT_WEB_LL.Models

<div class="px-4">
    @if (IsMultipleChoiceOrBoolean())
    {
        <AnswerRadioInput questionTypeId=@question.QuestionType.Id @bind-userAnswer=userAnswer answers=@question.PossibleAnswers></AnswerRadioInput>
    }
    else if (IsSelectFromList())
    {
        <AnswerSelectFromListInput answers=@question.PossibleAnswers @bind-userAnswer=userAnswer></AnswerSelectFromListInput>
    }
    else if (IsEssay())
    {
        <AnswerEssayInput @bind-userAnswer=userAnswer></AnswerEssayInput>
    }
    else if (IsFileUpload())
    {
        <AnswerFileUploadInput></AnswerFileUploadInput>
    }
</div>

@code {
    [Parameter]
    public Question question { get; set; }

    [Parameter]
    public UserAnswer userAnswer { get; set; }

    [Parameter]
    public EventCallback<UserAnswer> userAnswerChanged { get; set; }

    private bool IsMultipleChoiceOrBoolean()
    {
        return question.QuestionType.Id == (int)QuestionTypeEnum.MultipleChoice || question.QuestionType.Id == (int)QuestionTypeEnum.Boolean;
    }

    private bool IsSelectFromList()
    {
        return question.QuestionType.Id == (int)QuestionTypeEnum.SelectFromList;
    }

    private bool IsEssay()
    {
        return question.QuestionType.Id == (int)QuestionTypeEnum.Essay;
    }

    private bool IsFileUpload()
    {
        return question.QuestionType.Id == (int)QuestionTypeEnum.FileUpload;
    }
}
