@using System.Threading 

<span>
    @Time
</span>

@code {
    private DateTime Time { get; set; }
    public Timer timer;

    protected override void OnInitialized()
    {
        Time = DateTime.Now;
        StartTimer();
    }

    private void StartTimer()
    {
        var autoEvent = new AutoResetEvent(false);
        timer = new Timer((e) => IncrementTime(), autoEvent, 0, 1000);
    }

    private void IncrementTime()
    {
        InvokeAsync(() =>
        {
            Time = DateTime.Now;
            StateHasChanged();
        });
    }
}
