@page "/manage/questions"

@using RDT_WEB_LL.Models
@using RDT_WEB_LL.Services

@inject QuestionService questionService

@attribute [Authorize(Roles = "Admin")]

<h3>Manage Questions</h3>

@if (questions is null)
{
    <p>Loading data...</p>
}
else
{
<div class="row mt-3">
    @foreach (var q in questions)
    {
    <div class="col-3 mb-4">
        <div class="card h-100">
            <div class="card-header">
                Question @count (@q.QuestionType.Type)
            </div>
            <div class="card-body">
                <p class="card-text mb-5">@q.QuestionText</p>
                <a href="#" class="btn btn-primary position-absolute" style="left: 1rem; bottom: 0.5rem">Details</a>
            </div>
        </div>
    </div>

        count++;
    }
</div>
}

@code {
    int count = 1;
    List<Question> questions;

    protected override async Task OnInitializedAsync()
    {
        questions = await Task.Run(() => questionService.GetAll());
    }
}
