@page "/manage/schedules"

@using RDT_WEB_LL.Services
@using RDT_WEB_LL.Models
@using RDT_WEB_LL.Components 

@inject IScheduleService scheduleService
@inject IQuestionServices questionService

@attribute [Authorize(Roles = "Admin")]

<h3>Manage Schedules</h3>

<div class="row">
    @foreach (var schedule in schedules)
    {
        <div class="col-6">
            <ScheduleCard schedule=@schedule></ScheduleCard>
        </div>
    }
</div>

@code {
    public List<Schedule> schedules { get; set; }

    protected override void OnInitialized()
    {
        schedules = scheduleService.GetAll();
    }
}
