@page "/manage/schedules"

@using RDT_WEB_LL.Services
@using RDT_WEB_LL.Models
@using RDT_WEB_LL.Components

@inject IScheduleService scheduleService
@inject IQuestionServices questionService

@attribute [Authorize(Roles = "Admin")]

<div class="d-flex mb-4">
    <h3>Manage Schedules</h3>

    <div class="ml-3">
        <NavLink class="btn btn-primary" href="manage/schedules/add" Match="NavLinkMatch.All">
            Add new schedule
        </NavLink>
    </div>
</div>

<div class="row">
    @foreach (var schedule in schedules)
    {
        <div class="col-12" @key=@schedule>
            <ScheduleCard schedule=@schedule OnDeleteCallback=RemoveDeletedScheduleFromList></ScheduleCard>
        </div>
    }
</div>

@code {
    public List<Schedule> schedules { get; set; }

    protected override void OnInitialized()
    {
        schedules = scheduleService.GetAll();
    }

    private void RemoveDeletedScheduleFromList(Schedule schedule)
    {
        schedules.Remove(schedule);
    }
}
